.chats{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 17rem);
}
.chat{
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start; 
    text-align: justify;   
}
.bot{
    background: rgba(28,30,58,1);
    width: fit-content;
    border-radius: 0.5rem;
}
.chatImage{
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}